<div class="stars">

  <div class="moon-container">
    <div class="moon"></div>
    <div class="moon-cover phase3"></div>
  </div>


  <div class="list-container">
      <ul>
        <!-- <select 
          name="days" 
          id="days" 
          [(ngModel)]="selectedDay"
          (ngModelChange)="getCarModelsByBrand($event)">
          <option value="day" *ngFor="let day of daysInCurrentMonth">{{day}}</option>
        </select> -->
        <li>Μέρα : {{ day + 1 }}η</li>
        <li>Φάση: {{ moonPhase }}</li>
        <li>Διαλογισμός: {{ meditation }} </li>
      </ul>
    </div>

<router-outlet></router-outlet>
</div>
